/* CSS Style for Chocolate Pizza
*/
@import url("reset.css");

header, main, footer {
  margin: 0 auto;
  max-width: 900px;
}

body {
  border: 2px solid #ba2d35;
}

header {
  border: 2px solid #503eee;
  margin-top: 10px;
}

main {
  border: 2px solid #117e29;
}

section {
  border: 2px dotted #b62029;
}

footer {
  border: 2px solid #b16a17;
  text-align: center;
  margin-bottom: 20px;
}
