/* CSS Style for Chocolate Pizza
*/
@import url("reset.css");

header, main, footer {
  margin: 0 auto;
  max-width: 900px;
}

body {
  border: 2px solid #ba2d35;
}

header {
  border: 2px solid #503eee;
  margin-top: 10px;
}

main {
  border: 2px solid #117e29;
}

main p {
  text-indent: 30px;
}

section {
  border: 2px dotted #b62029;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #b16a17;
  text-align: center;
  margin-bottom: 20px;
  height: 70px;
  font-size: 13px;
  color: #9f9fa1;
  line-height: 16px;
}

h1, h2, h3, h4, h5 {
  margin: 10px 0;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: extra-bold;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

p {
  padding: 10px 10px 20px 0;
  line-height: 20px;
}

img {
  width: 100%;
}

/* CLASSES */

.print-icon {
  float: right;
}

.flex-container {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  height: 70px;
}

.flex-item {
  border: 2px dotted #b62029;
}

.icons, .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-end;
}

.icons img {
  padding: 0 1px;
}

.author {

}

.logo {

}

.logo div:first-child {
  margin-right: 10px;
}

.author div:first-child {
  margin-right: 15px;
}

.author p {
  text-indent: 0;
}
